<ng-container *ngIf="course">
    <h3>{{ index + "-" + course.description }}</h3>

    <ng-container *ngIf="course.iconUrl;else blankInfo">
        <ng-content select=".flag"></ng-content>
    </ng-container>

    <ng-content></ng-content>

    <button (click)="viewButton(course)">View Category</button>

    <ng-template #blankInfo let-type="value">
        <pre>{{type}} no image info.</pre>
        <!-- <div>test</div> -->
    </ng-template>
    <div *ngTemplateOutlet="blankInfo; context: {value: course.category}"></div>

</ng-container>
