<div class="nav">
    <a routerLink="/home">首页</a>
    <br>

    <!-- 查询参数 -->
    <!-- <a routerLink="/about" [queryParams]="{name:'dream'}">关于</a> -->

    <!-- 动态参数 -->
    <a [routerLink]="['/about','18','man']">关于</a>
    <br>

    <a routerLink="/news">新闻</a>
    <br>

    <!-- 通过路由插座命名，同时打开两个路由节点对应的组件。 -->
    <!-- <a [routerLink]="['/news',{
        outlets:{
            left:['company'],
            right:['industry']
        }
    }]">
        新闻
    </a> -->

    <a routerLink="/user/login">登录</a>
    <br>

    <a routerLink="/http/http-basic">http</a>
</div>
