<button (click)="add()">Add</button>

<ng-basic-first #courseRef *ngFor="
        let item of courseData;
        index as i;
        first as isFirst;
        last as isLast
    " [index]="i + 1" [class.is-first]="isFirst" [class.is-last]="isLast" [course]="item"
    (courseSelected)="onClick($event)">

    <div #contentRef ngClass="{{'content-ref-' + i}}">
        <img class="flag" [src]="item.iconUrl" [alt]="item.longDescription" /><br />
        <div>this is test text</div>
    </div>

</ng-basic-first>
