<h1>page not found!</h1>

<ng-container *ngTemplateOutlet="greet"></ng-container>
<hr />
<ng-container *ngTemplateOutlet="eng; context: {nameKey: 'World'}"></ng-container>
<hr />
<ng-container *ngTemplateOutlet="svk; context: svkContext"></ng-container>
<hr />

<ng-template #greet>
    <span>Hello</span>
</ng-template>

<ng-template #eng let-name="nameKey">
    <span>Hello {{ name }}!</span>
</ng-template>

<ng-template #svk let-person let-age="localAge">
    <span>Dominic {{ person }} {{ age }}!</span>
</ng-template>
